.DS_Store
.thumbs.db

# .env files
.env*

# Frontend
frontend/node_modules
frontend/dist
frontend/.quasar
frontend/quasar.config.*.temporary.compiled*

# Server
server/.venv
server/venv
server/__pycache__
server/**/__pycache__
server/*.egg-info
server/build
server/dist

# Docs
docs/site

# Editors
.vscode/
.idea/
