.widget {
  transition: background-color 1s ease;
}
.widget-body {
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

.state-area {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label-group {
  position: absolute;
  bottom: 6px;
  left: 6px;
  display: flex;
  flex-direction: column;
}

.title {
  color: var(--text-light);
  font-size: 0.85rem;
  font-weight: 400;
  line-height: 1.2;
}

.subtitle {
  color: var(--text-light);
  font-size: 0.7rem;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 600;
  opacity: 0.7;
  letter-spacing: 0.1rem;
}

.state {
  color: var(--text-light);
  font-size: 1.5rem;
  font-weight: 400;
}

.state-badge {
  position: absolute;
  top: 6px;
  right: 6px;
  padding: 2px 6px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.35);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.4;
  color: inherit;

  &--restricted {
    right: 24px;
  }
}

.widget-body--micro {
  .state {
    font-size: 1.1rem;
  }

  .text-caption {
    font-size: 0.65rem;
  }

  .label-group {
    bottom: 3px;
    left: 4px;
  }

  .title {
    font-size: 0.65rem;
  }
}
