:root {
  /* Default colors */
  --toolbar-background: rgba(0, 0, 0, 0.35);

  --page-background: #{$cyan-10};

  --button-widget-background: #{$indigo-9};
  --fan-widget-background: rgb(122, 78, 127);
  --fan-widget-background-on: rgb(160, 100, 165);
  --number-widget-background: rgb(5, 164, 140);
  --error-widget-background: #{$amber-4};
  --sensor-widget-background: rgb(53, 163, 239);
  --sensor-widget-background-on: rgb(30, 120, 200);
  --switch-widget-background: rgb(122, 78, 127);
  --switch-widget-background-on: rgb(190, 68, 117);
  --light-widget-background: rgb(145, 62, 101);
  --light-widget-background-on: rgb(221, 76, 73);
  --weather-widget-background: rgb(65, 84, 115);
  --calendar-widget-background: rgb(75, 55, 125);
  --list-widget-background: rgb(30, 50, 80);

  --climate-widget-background: rgb(39, 84, 98);
  --climate-heating-background: #{$deep-orange-9};
  --climate-cooling-background: #{$blue-9};

  --text-light: #fff;
  --text-dark: #000;
  --text-lighter: #{$grey-6};

  --widget-border-radius: 8px;

  --section-padding: 16px;
  --section-gap: 8px;
}
