:root {
  /* Default colors */
  --page-background: #{$cyan-10};

  --button-widget-background: #{$indigo-9};
  --fan-widget-background: #{$teal-9};
  --number-widget-background: #{$deep-purple-9};
  --error-widget-background: #{$amber-4};
  --sensor-widget-background: #{$pink-9};
  --switch-widget-background: #{$cyan-9};
  --weather-widget-background: #{$blue-10};

  --climate-widget-background: #{$grey-9};
  --climate-heating-background: #{$deep-orange-9};
  --climate-cooling-background: #{$blue-9};

  --text-light: #fff;
  --text-dark: #000;
  --text-lighter: #{$grey-6};

  --widget-border-radius: 8px;

  --section-padding: 16px;
  --section-gap: 8px;
}
